<section class="ui stackable grid">
  <section class="ui three column row">
    <section class="ui wide column">

    </section>
    <section class="ui wide column">
      <form (ngSubmit)="fazerTransferencia()"
            class="ui segment form">
        <h2 class="ui segment green header">
          Nova Transferência
        </h2>
        <div class="field">
          <label for="valor">Valor</label>
          <input [(ngModel)]="transferencia.valor" id="valor" name="valor" type="text">
        </div>
        <div class="field">
          <label for="destino">Destino</label>
          <input [(ngModel)]="transferencia.destino" id="destino" name="destino" type="text">
        </div>
        <button class="ui fluid green button" type="submit">
          Transferir
        </button>
      </form>
    </section>
    <section class="ui wide column">

    </section>
  </section>
</section>
